@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input, button {
  background: none;
  border: none;
  outline: 0;
}

body {
  margin: 0;
}


.form {
  display: flex;
  flex-direction: column;
}

.form__control {
  width: 100%;
  height: 50px;
  padding: 5px 30px;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
}

input::placeholder {
  color: #757575;
  
}

input:focus::placeholder {
  color: #FFF;
}

.form__control--text {
  background-color: #FFFFFF1A;
  border: solid 1px #FFCCBC;
  color: #21212180;
  font-size: 15px;
}

.form__control--text:focus {
  border: solid 1px #FFCCBC;
  background-color: #FFFFFF33;
  color: #FFF;
  font-weight: bold;
}

.form__control--btn {
  color: #FFF;
  background-color: #E64A19CC;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}

.form__control--btn:hover {
  color: #FFF;
  background-color: #E64A19;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}

.userimg {
  text-align: center;
  border-radius: 50%;
}

.userimg img {
  width: 80px;
}

.container__text {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  padding: 0 10px;
  font-size: 14px;
  color: #212121;
}